<a href="https://colab.research.google.com/github/Alexandre-Alencarf/Alexandre-Alencarf/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
preco=300
def valor_imposto(preco):
  return preco*0.3
print(valor_imposto(preco))

90.0

In [5]:
preco1=300
preco2=600

imposto = lambda preco: preco * 0.3
print(imposto(preco2))

180.0

In [6]:
#1 Retornar uma lista de valores pares de 1 à 20
numeros = [ num for num in range(0,21)]
print(numeros)
list(filter(lambda num: num % 2 == 0, numeros))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [7]:
#2 Retornar uma lista de valores impares de 30 à 50
numeros = [num for num in range(30,51)]
list(filter(lambda num: num % 2 == 1, numeros))

[31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [9]:
#3 Retornar todos os números menores que zero do intervalo range(-10, 10)
negativos = [num for num in range(-10, 11)]
print(negativos)
list(filter(lambda num: num < 0 and num > -11, negativos))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [10]:
#4 Retornar o menor número de uma lista
from functools import reduce
numeros = [ 230,52,36,896,2,75,-32]
reduce(lambda x, y: x if x < y else y, numeros)

-32

In [11]:
#6 Ordenar a lista de nomes pela 2ª letra de cada nome (ordem crescente)
nomes = ["Samuel", "Denise", "Beatriz", "Marcus"]
nomes.sort(key=lambda palavra: palavra[1])
nomes

['Samuel', 'Marcus', 'Denise', 'Beatriz']

In [13]:
#7 Ordenar a lista de nomes pela 2ª letra de cada nome (ordem decrescente)
nomes = ["Rafael", "Denise", "Beatriz", "Marcus"]
nomes.sort(key=lambda palavra: palavra[1], reverse=True)
nomes

['Denise', 'Beatriz', 'Rafael', 'Marcus']

In [14]:
#8 Diante de uma lista de números, multiplicar por 10 se o número for par e dividir por 3 se o número for impar. Utilizar a função round() para limitar a duas casas decimais.

numeros=[ num for num in range (1, 11)]
print(numeros)
list(map(lambda num: num*10 if num % 2 == 0 else round(num / 3, 2), numeros))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[0.33, 20, 1.0, 40, 1.67, 60, 2.33, 80, 3.0, 100]