<a href="https://colab.research.google.com/github/Alexandre-Alencarf/Alexandre-Alencarf/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.8/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
import pandas as pd

# ATIVIDADE 03
# CRIE UM DATAFRAME COM TRÃŠS COLUNAS:
# NOME, ALTURA, PESO
# POPULE COM CINCO LINHAS

In [10]:
dataframe = pd.DataFrame([["Alexandre", "1,80", "100"], ["Leonardo", "1,79","110"], ["Eduardo", "1,70","90"], ["Lucas","1,50","50"], ["Amanda", "1,00","19,5"]], columns = ["nome", "altura", "peso"] )

In [11]:
dataframe

        nome altura  peso
0  Alexandre   1,80   100
1   Leonardo   1,79   110
2    Eduardo   1,70    90
3      Lucas   1,50    50
4     Amanda   1,00  19,5